@mixin text($color, $fs, $fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin button($bg, $rad, $bd, $py, $px) {
    background-color: $bg;
    border-radius: $rad;
    border: $bd;
    padding: $py $px;
}

