@mixin text($color, $fs, $fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin bgImage($url){
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin styleButton($bg, $radius, $border, $py, $px, $tra  ) {
    background: $bg;
    border-radius: $radius;
    border: $border;
    padding: $py $px;
    transition: $tra;
}
@mixin styleButtonHover($bg-hover, $bd-hover, $color-hover) {
    background: $bg-hover;
    border-color: $bd-hover;
    color: $color-hover;
}