.header__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 1260px;
    margin: auto;
    padding: 0;
    height: 80px;
    background: transparent;
    .navbar {
        height: 100%;
    }
    img {
        width: 80px;
        height: 80px;
    }
    .header__left {
        padding: 0;
    }
    .header__right {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
    .header__right-icons {
        display: flex;
        align-items: center;

        .header__right-phone {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 300ms ease;
            .header__right-phoneIcon {
                .la-phone {
                    font-size: $fs-5;
                    line-height: 1;
                    transform: rotateY(180deg);
                    margin-right: 3px;
                }
            }
            @include button($color-primary-1, 50px, $color-primary-1, 1.1em, 1.5em);
            @include text($color-primary-2, $fs-3, $fw-2);
            margin: 8px;
            line-height: 1;

            &:hover {
                color: #b61984;
                box-shadow: 0 0 0 1px #b61984 inset;
                border: 1px solid $color-primary-1;
            }
        }
    }
    .header__right-socials {
        display: flex;
        a {
            @include text($color-primary-0, $fs-5, $fw-1);
            margin-left: 5px;
            transition: all 0.5s;
            &:hover {
                color: $color-primary-1 !important;
            }
        }
    }
    .nav-item {
        padding-right: 50px;
        height: 80px;
    }
    .nav-link {
        @include text($color-primary-0 !important, $fs-1 - 2, $fw-3);
        transition: all 0.5s;
        line-height: 80px;
        padding: 0 !important;
        &:hover {
            color: $color-primary-1 !important;
        }
    }
}
.headerBG {
    background-image: url(../../img/yellow_top_wave_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 196px;
    width: 100%;
}
